@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
	font-family: "Helvetica Now Display", -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	background-color: #f2f7f8;
}

#drop-cap {
	font-size: 140px;
	font-family: cursive;
}

a, a:visited {
  transition: all 500ms ease;
  color: blue;
}

a:hover {
  color: red;  
}
